<div class="col-xs-12 ent-chat__faq-questions">
    {% for question in questions %}
        <div class="row">
            <div class="col-xs-12">
                {{ question.question }}
                <ul>
                    {% for answer in question.answers %}
                        <li>{{ answer }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>