<div class="row js-message">
    <div class="js-ent-chat-message-user col-xs-2 ent-chat__user-icon">{{ user }}</div>
    <div class="js-ent-chat-message-text col-xs-10 ent-chat__message">{{ text }}</div>
</div>