<div class="col-xs-12 ent-chat">
    <div class="row">
        <div class="col-xs-12">
            Olá, vou te ajudar a conseguir o melhor atendimento possível.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'partials/_faq.twig' %}
        </div>
    </div>
</div>