<div class="row ent-chat__faq js-ent-chat-faq">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                Meu pedido está atrasado
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        Entre em contato conosco através de nosso email
                        <a class="ent-chat__link" href="mailto:atendimento@grooty.com.br">atendimento@grooty.com.br</a>
                    </li>
                    <li>
                        Que tal usar o código de rastreamento? Ele é enviado assim que o fornecedor do produto postar o
                        produto para você.
                        <br>
                        <a class="ent-chat__link" href="/pedidos">
                            Clique aqui para ir para os seus pedidos
                        </a>
                    </li>
                    <li>
                        Ligue no nosso canal de atendimento por telefone. Mas já adiantamos que pode demorar um
                        pouquinho
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                Meu cupom está errado
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        Neste caso teremos que te transferir para um atendente.
                        <br>
                        <span class="ent-chat__link js-redirect-to-chat">Clique aqui para falar com o atendente</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>